@{
  Layout = "_Layout";
}

<ul>
  <li>@Html.ActionLink("View Doctors", "Index", "Doctors")</li>
  <li>@Html.ActionLink("Add Doctor", "Create", "Doctors")</li>
  <li>@Html.ActionLink("Add Patient", "Create", "Patients")</li>
  <li>@Html.ActionLink("Add Specialty", "Create", "Specialties")</li>
</ul>