@{
  Layout = "_Layout";
}

@using DoctorOffice.Models
@model IEnumerable<DoctorOffice.Models.Doctor>

<h1>Doctors</h1>

@if(@Model.Count() == 0)
{
  <h3>You have no one to fix your boo-boos. What ever will you do?</h3>
}
else
{
  <form asp-controller="Doctors" asp-action="Index">
    <label for="docName">Filter By Name: </label>
    <input type="text" name="docName" id="docName" />
    <input type="submit" value="Filter" />
  </form>
  <ul>
    @foreach(Doctor doctor in Model)
    {
      <li>@Html.ActionLink($"{doctor.Name}", "Details", new { id = doctor.DoctorId })</li>
    }
  </ul>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>